<div class="jumbotron">
	<div class="container center">
		<!--<h3 class="asar" style="margin-top: -10px;">A place for traveling nearby.</h3>-->
		<%= image_tag "buffalo_icon_pete.png", class: "img-responsive", :style => "margin: 0 auto;" %>
		<br><br><br><br>
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<h1 class="cabin display-1" style="color: #263238; line-height: 1.2">Buffalo Buffalo is a unique experience on Floor 19. </h1>
			</div>
		</div>
	</div>
</div>