<div class="jumbotron">
	<div class="container center">
		<%= image_tag "buffalo_icon_pete.png", class: "img-responsive", :style => "margin: 0 auto;" %>
		<br><br><br><br>
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<h1 class="cabin display-2" style="color: #263238; line-height: 1.2">Buffalo Buffalo is a unique experience on Floor 19.</h1>
			</div>
		</div>
	</div>
</div>
<div class="jumbotron" style="background-color: #fa6c6a;">
	<div class="container center">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<h1 class="cabin display-4" style="color: #263238; line-height: 1.2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Aliquam etiam erat velit scelerisque in dictum non. Hendrerit gravida rutrum quisque non tellus orci. Libero enim sed faucibus turpis. Nisi lacus sed viverra tellus in hac habitasse. Magna etiam tempor orci eu lobortis elementum. Pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna. Velit laoreet id donec ultrices tincidunt. Vitae proin sagittis nisl rhoncus mattis rhoncus. Viverra adipiscing at in tellus integer feugiat. Cras ornare arcu dui vivamus arcu felis bibendum. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Tellus orci ac auctor augue mauris augue neque gravida. Etiam erat velit scelerisque in dictum non consectetur a. Eget velit aliquet sagittis id consectetur purus. Nulla facilisi nullam vehicula ipsum a.

	Nunc sed blandit libero volutpat sed cras ornare arcu dui. Tempus urna et pharetra pharetra massa massa ultricies mi. Nunc vel risus commodo viverra maecenas. Vestibulum sed arcu non odio euismod lacinia at quis. Quam quisque id diam vel quam elementum pulvinar etiam non. Purus faucibus ornare suspendisse sed. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Neque volutpat ac tincidunt vitae semper quis lectus. Pellentesque sit amet porttitor eget dolor. Vitae tortor condimentum lacinia quis vel eros.</h1>
			</div>
		</div>
	</div>
</div>