<div class="jumbotron">
	<div class="container center">
		<!--<h3 class="asar" style="margin-top: -10px;">A place for traveling nearby.</h3>-->
		<%= image_tag "buffalo_icon.png", class: "img-responsive", :style => "margin: 0 auto;" %>
		<br><br><br><br>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="cabin" style="color: #263238;">Buffalo Buffalo is a unique experience</h1>
			</div>
		</div>
	</div>
</div>