<div class="jumbotron">
	<div class="container center">
		<%= image_tag "https://media.giphy.com/media/ORq1mfmSf2VoI/giphy.gif", class: "img-responsive", :style => "margin: 0 auto; max-width: 50%;" %>
		<br><br><br><br>
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<h1 class="cabin display-2" style="color: #221427; line-height: 1.2">Looks like you found it. You dug around and now savor the fruits of your labor.</h1>
			</div>
		</div>
	</div>
</div>
<div class="jumbotron" style="background-color: #fa6c6a;">
	<div class="container center">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<h1 class="cabin display-4" style="color: #221427; line-height: 1.2">Come join us at <font style="color: #a7d1e9; background-color: #fa6c6a;">Buffalo</font> <font style="color: #f8ea9c; background-color: #fa6c6a;">Buffalo</font>, a temporary experience found in the <font style="color: #f8ea9c;">recreational territory by the 19th Floor lobby</font>. Starting at <font style="color: #a7d1e9;">half past five</font>, circle up to enjoy refreshments, ditties, and familiar faces.</h1>
			</div>
		</div>
	</div>
</div>